    .chart rect {
        fill: steelblue;
    }

        .chart rect:hover {
            fill: turquoise;
        }

    .chart .rectM {
        stroke: green;
        stroke-width: 1;
        fill: green;
        fill-opacity: .2;
    }

        .chart .rectM:hover {
            fill: green;
            fill-opacity: .5;
        }

    .chart text {
        font: 10px sans-serif;
    }

    .chart .title {
        font: 15px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    .axis .axislabel{
      font: 12px sans-serif;
      font-weight: 550;
    }
    .question_fontize{
     font-size: 17px;
     font-weight: 800;
     font-style: italic;
     text-align: center;
    }
    .legend text {
    font: 13px sans-serif;
}