<div class="row" style="margin-top: 10%">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12" style="padding: 10px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}">
<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12" style="padding: 10px;text-align:center"><b>{{text}}</b></div>
<p class="text-center">
  <audio id=recordedAudio></audio>
</p>
<div id="audioimage" class="col-lg-12 col-sm-12 col-md-12 col-xs-12  text-center" ng-if="showimage">
  <a href=""><img src="pages/mockdata/Nlyu9S.gif" alt="in" />
  </a> 
</div>
<div  class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center" style="margin-top: 5%;">
 
  <div  class="col-lg-3 col-sm-12 col-md-3 col-xs-12" style="margin-top:15px;">
    <button id=startRecord ng-click="startRecording()" class="btn btn-md btn-primary ">Start Recording</button>
  </div>
  <div  class="col-lg-3 col-sm-12 col-md-3 col-xs-12" style="margin-top:15px;">
    <button id=stopRecord ng-click="stopRecording()" class="btn btn-md btn-warning ">Stop Recording</button>
  </div>
  <div  class="col-lg-2 col-sm-12 col-md-3 col-xs-12" style="margin-top:15px;">
   <button id=submitRecord ng-click="submit()" class="btn btn-md btn-success ">Submit</button>
 </div>
 <div  class="col-lg-2 col-sm-12 col-md-3 col-xs-12" style="margin-top:15px;">
   <button id=cancelRecord ng-click="cancelaudio()" class="btn btn-md btn-danger ">Cancel</button>
 </div>
</div>

</div>
</div>
